input {
    margin-bottom: 8px;
    border-radius: 4px;
    border: none;
    border-bottom: 2px solid blueviolet;
    }

input[type=text]{
    background-color:aquamarine;
    color:brown;
    }

input[type=number]{
    background-color:aquamarine;
    color:brown;
    }

input[type=email]{
    background-color:aquamarine;
    color:brown;
    }

.form{
    background-color: rgb(247, 222, 191);
}

label{
    color:darkblue;
}

button{
    color:darkorchid;
    background-color: rgb(248, 196, 224);
}

fieldset{
    border-style:dotted;
    border-width: 5px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

legend{
    color:brown;
}